### now we run the feature and continud

In [25]:
# !pip install nest-asyncio
import nest_asyncio
nest_asyncio.apply()
%run ./Feature_Creation.ipynb

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5760 entries, 0 to 5759
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      5760 non-null   datetime64[ns]
 1   y                         5760 non-null   int64
 2   Hour                      5760 non-null   int64
 3   Temperature(C)            5760 non-null   float64
 4   Humidity(%)               5760 non-null   int64
 5   Wind speed (m/s)          5760 non-null   float64
 6   Visibility (10m)          5760 non-null   int64
 7   Dew point temperature(C)  5760 non-null   float64
 8   Solar Radiation (MJ/m2)   5760 non-null   float64
 9   Rainfall(mm)              5760 non-null   float64
 10  Snowfall (cm)             5760 non-null   float64
 11  Seasons                   5760 non-null   object
 12  Holiday                   5760 non-null   object
 13  Functioning Day           5760 non-null   object
dtypes: datetime64[ns](1), float64(6), int64(4), object(3)
memory usage: 675.0+ KB

In [19]:
print(df_prep.shape)
df_prep.head(3)

(5760, 42)

,Date,y,Hour,Temperature(C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(C),Solar Radiation (MJ/m2),Rainfall(mm),...,Weather&visb,Sky_State,Temp_State,GBL_Forecast,X_Temp,Abdo_try,Fog_State,Fog,Date_tmp,Prev Month y
0,2017-12-01,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,...,7.600902,5,4,20,-1.924,8.127771,1,1,2017-12,NaN
1,2017-12-01,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,...,7.600902,5,4,20,-2.090,8.210505,1,1,2017-12,NaN
2,2017-12-01,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,...,7.600902,5,4,20,-2.340,8.329127,1,1,2017-12,NaN

In [20]:
print(test.shape)
test.head(3)

(3000, 42)

,ID,Date,Hour,Temperature(C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(C),Solar Radiation (MJ/m2),Rainfall(mm),...,Weather&visb,Sky_State,Temp_State,GBL_Forecast,X_Temp,Abdo_try,Fog_State,Fog,Date_tmp,Prev Month y
0,5760,2017-12-21,0,-1.3,90,2.0,259,-2.7,0.0,0.0,...,61.125109,4,4,16,-1.170,5.758586,0,1,2017-12,NaN
1,5761,2017-12-21,1,-1.8,90,1.6,263,-3.2,0.0,0.0,...,61.293694,4,4,16,-1.620,6.252674,0,1,2017-12,NaN
2,5762,2017-12-21,2,-2.2,88,1.4,348,-3.9,0.0,0.0,...,64.374227,4,4,16,-1.936,6.628094,0,1,2017-12,NaN

In [21]:
df_prep.columns.size

42

In [ ]:
test edit